{% load i18n %}
{% load static compress %}

{% compress css %}
<link rel="stylesheet" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}">
<link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}">
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
{#<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/i18n/en-US.js' %}"></script>#}
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endcompress %}