<div id="googlemaps" style="height: 300px;width: 300px"></div>

<script src="{{ request.scheme }}://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
    // Latitude and longitude вашего места
    var position = [49.212457, 28.466525];

    function showGoogleMaps() {

    var latLng = new google.maps.LatLng(position[0], position[1]);

    var mapOptions = {
        zoom: 17, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: true, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: {lat: 49.212457, lng: 28.466525},
        scrollwheel: false,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_CENTER
        },
    };

    map = new google.maps.Map(document.getElementById('googlemaps'),
    mapOptions);

    // Show the default red marker at the location
    marker = new google.maps.Marker({
    position: latLng,
    map: map,
    draggable: false,
    animation: google.maps.Animation.DROP,
    });
}

    google.maps.event.addDomListener(window, 'load', showGoogleMaps);
</script>
